{% load static %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="{% static 'doctors/doctor_register.css' %}" rel="stylesheet">

    <title>Welcome, Let's Diagnose</title>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow fixed-top">
      <div class="container">
        <a class="navbar-brand div-text" href="{% url 'doctor-home' %}"><span class="logo-text">ADRA</span>: Automatic Diabetic Retinopathy Assesment</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'doctor-login' %}">Login</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'doctor-register' %}">Register</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <!-- main website container start -->
    <div class="container">
        <div class="row">
          <div class="col-sm-8 first-column">

            <br>
            <h1 class="text-register">Reset Now</h1>


            <div class="row border-top">

              <div class="col-sm-12 bg-red"><br>
                  <style>
                      .display-text{
                          font-weight: lighter;
                      }
                  </style>
                  <h2 class="display-text">
                      An E-mail has been sent with the instructions to reset your password! <br><br>
                      Thank You!!
                  </h2>


              </div>


            </div>

          </div>

          <div class="col-sm-4 second-column">
            <br><br><br>
            <h3><small>"Better vision for a better future."</small></h3>
            <span class="display-4">Currently,</span><br><big> We have following automated features on offer:</big>
            <ul>

              <li><b>Automatic Image Grading</b> <br> (Diabetic Retinopathy (DR) and Diabetic Macular Edema (DME))</li>
              <li><b>Automatic Segmentation of Retinal Lesions</b> <br> (Microaneurysms (MA), Haemorrhage (HE), Soft Exudates (SE) and Hard Exudates (HX))</li>
              <li><b>Automatic Segmentation </b> <br> (Blood Vessels in Retinal Image)</li>
              <li><b>Automatic Image Localization</b> <br> (Optic Disc (OD) and Foeva)</li>
            </ul>
          </div>
        </div>
      </div>

    <!-- Footer -->
    <footer class="py-5 footer_class">
      <div class="container">
        <p class="m-0 text-center text-black">Copyright &copy; Prajwal Diabetic Retinopathy 2020</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
